@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat&display=swap');

*{
    outline: 1px solid red;
} 

.h2body {
    text-align: center;
    margin-bottom: 5px;
}

#art1, #art2 {
    background-color:rgb(16, 99, 134);
}
#arteven{
    text-align: center;
}

table {
    margin-left: 200px;
    text-align: left;
}

.tab1 {
    background-color: rgb(16, 99, 134);
    height: 250px;
}

.parbody {
    float: left;
    align-content: center;
    font-family: 'Dosis';
    font-size: 14pt;
    text-align: justify;
    line-height: 25px;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 40px;
    width: 400px;
    height: 200px;
    margin-left: 20%;
    padding: 0px;
}

.midvid {
    padding-left: 1%;
    align-content: center;
}

.botdiv {
    display: flex;
    justify-content: center;
}

.redlogo{
    width: 15px;
    height: 15px;
}

#parr1, #parr2 {
    font-family: 'Dosis';
}

ul {
    box-sizing: border-box;
    width: 30%;
    height: 30%;
}

.subrayado{
    border-bottom: 3px dotted yellow;
}

li h2 {
    margin-bottom: 0px;
}

li {
    box-sizing: border-box;
    list-style-type: none;
    margin: 10px;
}

.ul1 {
    float: left;
    margin-left: 20%;
    padding: 0px;
}

.ul2 {
    float: right;
    margin-right: 20%;
    padding: 0px;
}

.distance {
    margin-top: 20px;
}